#Files for configuring ANSIBLE
[defaults]
roles_path          = roles # Path for roles
host_key_checking   = False 
retry_files_enabled = False 
stdout_callback     = yaml # How to how output
interpreter_python  = auto_silent  #To silently find the python on target machine


#Roles are folders that pack isolated logic 